@import 'bootstrap';
@import 'bootstrap-icons';

a {
    text-decoration: none;
}


.nav-link:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

main {

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-img-top {
        object-fit: cover;
        aspect-ratio: 1;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

footer {
    a {
        color: black;

        &:hover {
            color: white;
        }
    }

    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        }
    }
}